[2018-09-26 21:39] k911 opened #1 "Create test suite"
- [x] Create simple symfony application in `tests/`
- [x] Run feature tests on travis
- [x] Combine code coverage from unit / feature tests

[2018-09-26 21:40] k911 opened #2 "Add more commands"
- [x] `swoole:server:start` - Start swoole server in background #8
- [x] `swoole:server:stop` #8
- [x] `swoole:server:reload` #8
- [ ] `swoole:server:status`

[2018-09-26 21:42] k911 opened #3 "Unit tests"
- [ ] Coverage 100%

[2018-09-26 21:50] k911 opened #4 "More features / ideas"
- [ ] SSL support
- [ ] Hot code-reload on dev env (also, check if possible?)
- [ ] Demonize option
- [ ] Laravel integration
- [ ] Integration with `symfony/messenger` (executing tasks / task handlers)
- [ ] WebSocket server
- [ ] Gathering workers stats

[2018-09-27 19:32] Gemorroj opened #5 "Notice: Undefined index: APP_TRUSTED_HOSTS"
caan't start app:
[code]

[2018-09-27 19:35] Gemorroj commented on #5
by default, symfony comments this env vars (.env.dist):
[code]

[2018-09-27 19:53] Gemorroj opened #6 "Support for Symfony/PHP sessions"
[code]

[2018-09-27 20:30] k911 commented on #6
I think it is swoole related issue.
I've fixed it by using this configuration:

[code]

[2018-09-29 06:28] Gemorroj commented on #6
https://github.com/swoole/swoole-src/issues/1828

[2018-09-30 15:36] #5 closed

[2018-10-14 00:59] k911 commented on #1
Closed in #12

[2018-10-14 00:59] #1 closed

[2018-10-14 01:07] k911 opened #13 "Signals don't work when XdebugHandler restarts process"
XdebugHandler restarts cli process and don't pass the signals to the child process.

Example:
1. Run server with `swoole:server:run` command
2. Click CONTROL-C
3. Scripts exits immediately without "Swoole HTTP Server has been successfully shutdown.".

It might be needed to use another approach for disabling Xdebug. (Symfony/Process?)

[2018-10-23 12:54] enumag opened #19 "Attempted to call an undefined method named "boot""
[code]

`debug_handler: true` causes `Attempted to call an undefined method named "boot" of class "K911\Swoole\Bridge\Symfony\HttpKernel\DebugHttpKernelRequestHandler".`

Similarly `entity_manager_handler: true` causes `Attempted to call an undefined method named "boot" of class "K911\Swoole\Bridge\Doctrine\ORM\EntityManagerHandler".`

[2018-10-23 13:08] enumag commented on #19
The reason is that [both of these services](https://github.com/k911/swoole-bundle/blob/develop/src/Bridge/Symfony/Bundle/DependencyInjection/SwooleExtension.php#L195-L211) have `->setDecoratedService(RequestHandlerInterface::class)` but RequestHandlerInterface service is in fact [HttpKernelRequestHandler](https://github.com/k911/swoole-bundle/blob/develop/src/Bridge/Symfony/Bundle/Resources/config

[2018-10-23 13:54] enumag opened #20 "How to fix error handling?"
I tried to add this to my application. It seems to work fine while everything is running smoothly. The problem is that when a request causes an PHP error then the client never receives any kind of response - no error code 500, no debug information. The browser actually thinks the request did not finish even though it did.

Can you give me some advice how to handle this or at least where to look wh

[2018-10-23 19:04] k911 commented on #20
In your `var/log/` directory you should have logs containing error information.

I think your issue will be uncaught error, which then breaks swoole server worker. To handle errors correctly you can use `twig` with it's debug handler, or write custom one.
https://symfony.com/doc/current/controller/error_pages.html

I agree, we could provide something like "UncaughtExceptionRequestHandler" which wo

[2018-10-23 20:11] enumag commented on #20
Thanks, I'll see what I can do with this advice. I'm not sure if I can find the time this week so maybe next monday.

In my case I don't need to use twig for the error page since I'm building an API anyway.

[2018-10-23 20:15] enumag commented on #20
Btw these request handlers seem very similar to PSR-15 middlewares. Why aren't we using those instead?

[2018-10-23 21:16] k911 commented on #20
@enumag Yeah, it would be very nice to stick with PSR, but I think it would require at least that Swoole Request/Response objects implements PSR-7 themselves, although it may be not so easy to implement PHP interface in PHP extension written in C. See https://github.com/swoole/swoole-src/issues/559

I also thought about creating PSR-7 adpaters, but I decided not to, because it would affect complex

[2018-10-24 20:39] #19 closed

[2018-10-24 21:19] #13 closed

[2018-11-05 09:17] enumag commented on #20
Hmm I'm not sure what was wrong. Error handling seems to work fine now. I'll reopen this and investigate if I run into the problem again.

[2018-11-05 09:17] #20 closed

[2018-11-06 13:29] enumag commented on #4
:+1: for Websocket server. Sadly I don't have enough experience with neither websockets nor swoole to help with that.

[2018-12-04 18:58] fjogeleit opened #26 "HRM with Docker"
Hey everybody,

thanks for this nice bundle. It works very well for me. But I have one question about the HRM feature in combination with Docker.

I have a Dockerfile with swoole and inotify:

[code]
I use this Dockerfile with an docker-compose file which has a php-swoole configuration:

[code]

So all symfony files are linked into the container and all needed extensions for swoole and HRM are ins

[2018-12-04 19:33] k911 commented on #26
@fjogeleit Thanks for using it. The other day I was working on running tests within docker container's everything worked fine. You can test it here: https://github.com/k911/swoole-bundle/tree/ci/dockerize

[code]

--

To confirm, you've tried this configuration:

[code]

along with setting `APP_DEBUG=1` in `.env.docker`?

If the answer is yes, could you create small reproducer repository?

[2018-12-04 19:45] k911 commented on #26
@fjogeleit Unfortunately, I've found this issue with docker: https://github.com/moby/moby/issues/18246
It may be possible to use https://github.com/sillypog/inotify-proxy as a workaround this issue.

[2018-12-04 19:48] fjogeleit commented on #26
I will try it out. Thanks a lot for the fast help.

[2018-12-04 20:37] fjogeleit commented on #26
I can confirm that it works with this workaround. Issue could be closed.

[2018-12-04 22:59] k911 commented on #26
Thanks, I'll close it as soon as I add proper reference

[2018-12-04 22:59] #26 closed

[2018-12-29 12:51] debugger84 opened #27 "The running server takes all the resources of one core of the CPU."
When I started the app server using `bin/console swoole:server:run`, I've got load average of a core of a processor in 100%. At the same time, I do not make requests to the site.

[code]

My swoole version is
[code]

My php version is
[code]

Also I tried https://github.com/zendframework/zend-expressive-swoole and it works fine with zend expressive. The load average of CPU was low in idle mode.

[2018-12-30 00:02] k911 commented on #27
Hello @debugger84, the one thing that comes to my mind, and could be responsible for that, is working `hmr`. It is enabled by default when `inotify` php extension is installed and you're in debug mode.

Could you please try setting `hmr: off` in your bundle config file?
https://github.com/k911/swoole-bundle/blob/develop/docs/configuration-reference.md

[2018-12-30 17:52] debugger84 commented on #27
Hello @k911, you are right, thank you. Switching value of the swoole.http_server.hmr  field to "false" has repaired the problem.

[2018-12-30 21:50] k911 commented on #27
@debugger84 I'll close this issue, since I believe problem is solved. If that's not the point please feel free to reopen.

[2018-12-30 21:50] #27 closed

[2019-02-12 14:36] zmitic opened #30 "Reduce PHP/Symfony Memory leaks"
First, I have to say this is **amazing** bundle. I really love it, speed diff is really big and my next project will definitely use it.

I do however have an issue. When used under FPM, I get this:

![image](https://user-images.githubusercontent.com/1964158/52642194-cedf4e00-2eda-11e9-965c-f84d52e67523.png)

73ms, 2MB consistent.

But under this bundle:

![image](https://user-images.githubusercont

[2019-02-12 16:48] k911 commented on #30
Hi @zmitic,
I'm afraid there is not much we can do, because that indicates PHP code written in your application does not clean state properly after returning responses. PHP-FPM flushes memory at the end of request, while idea behind swoole or any other event-loop based application is to not flush memory at all.

[2019-02-12 17:05] zmitic commented on #30
Yes, I understand that part, I was even the guy who wanted Symfony to support long-running process (https://github.com/symfony/symfony/issues/23984). So I am very careful **not** to do any memoization and Symfony itself does the same.

 The code I am testing is blank Symfony4 application with just 1 route. Do you have memory issues like I do? My guess is logging in dev; when I started this app in

[2019-02-12 17:07] zmitic commented on #30
Btw; I know this is different question but can HMR work when I change other files than just PHP?

[2019-02-12 18:05] k911 commented on #30
1. I'll leave this issue opened, because I believe there could be potential memory leaks in this bundle in many places, but as you've responded that's more like symfony framework problem. In HMR there is a cache for file names, but it shouldn't allocate so much memory. Maybe you could debug whether your aplication in dev mode has enabled https://github.com/k911/swoole-bundle/blob/develop/src/Bridg

[2019-02-13 06:55] zmitic commented on #30
My config is pretty much the default:
[code]

HMR started to work when I switched from ``auto`` to ``inotify``. I tried many other options, memory consumption is always the same.

Yes, like ``/templates`` so twig changes can be seen w/o manual restart.
Maybe new config array for that so users who make OSS bundles from ``/vendors`` or some ``/src/lib`` folder have easier time.

[2019-02-13 12:23] k911 commented on #30
@zmitic Yeah, that's possible I think, unless it requires symfony container dump, then it would be much more complicated. I do not have much time for this project, and there are plenty of things that could be done here, so if you feel like doing contribution with this feature, feel free to send PR :)

[2019-02-13 15:09] zmitic commented on #30
Fair enough. As soon as I finish current project (~2 months), I will give this a try. I would really like to have max speed, if nothing else just for fun.

[2019-02-28 21:05] #3 closed

[2019-04-06 15:13] #2 closed

[2019-04-06 21:43] k911 opened #43 "Meaningful Exceptions"
Create custom exceptions instead of throwing general ones.

- [ ] PidFileExeception (SwooleServerStart)
- [ ] SwooleServerNotRunningExecption (HttpServer)
- [ ] ConnectionFailedExecption (HttpClient)

[2019-05-05 06:18] CoderChang65535 opened #54 "Is that a good idea to make the default host from 'localhost' to '0.0.0.0'?"
I think using '0.0.0.0' as default value can be much better than 'localhost' because it contains '127.0.0.1' or 'localhost' and is easy to expose without any configuration.

[2019-05-05 10:18] k911 commented on #54
Yes, @CoderChang65535 it think this is reasonable setting. Would you like to prepare a pull request, then?

[2019-05-06 02:32] CoderChang65535 commented on #54
Thanks and I'm glad to do that. I will do it later.

[2019-05-06 05:59] CoderChang65535 commented on #54
Hi, @k911 .
I'm not sure what commit message I should set as the style as the [conventional-changelog](https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-changelog-angular)?
Could you give some help for that?
Is that the one you like:
`feat(config): set default host value to '0.0.0.0'`

[2019-05-06 12:16] k911 commented on #54
It's more like `fix` I think, because using `localhost` as default means `0.0.0.0` does not work and users might expect to work this out of the box in e.g. docker container.

[2019-05-07 08:51] #54 closed

[2019-08-25 17:38] sunchuo commented on #30
@zmitic

i call gc_mem_caches(); gc_collect_cycles(); in page and request it many times, the memory didnt grow. i think the growth useage of memory may cause by gc delay. and profilerbar seems to be wrong with display mem useage.

mem useage:

FPM: 10M
SWOOLE:19M

[2019-08-25 19:29] sunchuo opened #65 "header already sent exception when session_start"
When running under swoole, header_sent() always returns true and headers_list() returns null.
Session start throws an exception. It has nothing to do with the session storage driver， native\pdo both have this problem.

[2019-08-25 19:36] k911 commented on #65
Yes, this behaviour is correct, I believe. Symfony does not handle sessions with swoole correctly yet. Could you please try solution mentioned in #6?

[2019-08-25 19:43] sunchuo commented on #65
problem solved! thanks!!

[2019-08-25 19:45] #65 closed

[2019-09-16 08:38] raziel057 opened #66 "Benchmark"
It would be great to check the perf improvement by adding the symfony-swoole on https://www.techempower.com like already done or laravel.

[2019-10-31 23:52] k911 commented on #6
Fixed by #73

[2019-10-31 23:52] #6 closed

[2019-11-08 13:23] domgraziano commented on #20
I'm experiencing this too.
I can confirm looking at the log that error seems to be caused by the symfony error handling that can't catch  `Swoole\ExitException`
this is reproducible by just throwing a new Exception or Error from a symfony controller`
[code]

[2019-11-08 22:32] k911 commented on #20
@domgraziano Please open new issue and provide swoole logs and symfony logs or maybe even a small reproducer repository

[2019-11-09 11:46] domgraziano opened #78 "RE - How to fix error handling?"
**Describe the bug**
Linked to #20
From any symfony controller if an error or exception is thrown, the symfony request response cycle does not terminate and the browser (or any client eg postman) is hanging waiting for the response which never comes back.

**Steps To Reproduce**
I'm adding a repository with a symfony installation wrapped in a docker container to reproduce you would have 3 endpoint

[2019-11-09 11:47] domgraziano commented on #20
@k911 sure done at #78

[2019-11-09 20:26] Rastusik commented on #78
@k911  I'm experiencing this too btw

[2019-11-10 19:50] k911 commented on #78
@domgraziano @Rastusik To confirm, you didn't install `twig` and configure symfony's expcetion handler  (as described here https://symfony.com/doc/current/controller/error_pages.html) or don't want to, correct?

[2019-11-10 20:04] Rastusik commented on #78
@k911 I have twig bundle installed. Exceptions are handled fine, if they are caught by Symfony, but the described problem occurs to me on php errors

[2019-11-10 20:15] k911 commented on #78
@Rastusik

So your case is probably different than @domgraziano , because I see than @domgraziano don't have `twig` pack installed.

@domgraziano

Installing `twig` should fix your problems, just run:

[code]

[2019-11-10 22:37] domgraziano commented on #78
@k911 thanks for looking into it.

I can confirm that installing twig would terminate the request but only for thrown Exception, not for error (in my example, with twig, running in prod mode, the localhost:9501/error would still hang and response never come back).

My view is that I shouldn't be forced to install twig though. As per after symfony 4 I could have only a few components to being able

[2019-11-10 23:05] domgraziano commented on #78
@k911 actually I've just tried:
[code]
in `K911\Swoole\Bridge\Symfony\HttpKernel\HttpKernelRequestHandler`

and this would terminate with a 500, without Twig, downside is that nothing will be logged as we are returning, so it might not be that immediate as a fix

[2019-11-13 21:15] #78 closed

[2019-11-14 12:07] jderusse commented on #66
This issue can be closed. PR https://github.com/TechEmpower/FrameworkBenchmarks/pull/5237 have been merged

[2019-11-14 12:50] k911 commented on #66
@jderusse Thanks, I think we can improve it drastically. Setting `running_mode: process` and using https://github.com/swoole/swoole-src#-amazing-runtime-hooks could potentially improve performance. I'll look into it.

[2019-11-14 13:33] jderusse commented on #66
Good catch, just switching to `running_mode: reactor` boost performances by ~10%
Goroutine in `/updates` and `/queries` may be great too. Tell me if you don't have time to do it

[2019-11-14 13:34] k911 opened #81 "CI: Fix release script"
Investigate issues with release script and fix it because a job in CricleCI with it failed two times now.

The responsible script source code: https://github.com/k911/swoole-bundle/blob/develop/.circleci/release-version.sh#L118-L128
Job: https://app.circleci.com/jobs/github/k911/swoole-bundle/1790
Output: https://circleci.com/api/v1.1/project/github/k911/swoole-bundle/1790/output/103/0?file=true

[2019-11-14 13:37] k911 commented on #66
Currently, I'm busy, so feel free to write code

PS. I'll try to look into it over the weekend

[2019-11-14 16:27] jderusse commented on #66
I tried to use coroutine, but it don't fit well with doctrine (got "MySQL server has gone away").
Unless I missed a thing, the goal I don't see how to parallelise queries with coroutine.

[2019-11-30 12:16] #81 closed

[2019-12-09 11:06] k911 opened #93 "Random failures on SymfonySessionSwooleSessionStorageTest"
**Describe the bug**
Test suite sometimes fails on `SymfonySessionSwooleSessionStorageTest::testUpdateSession`

**Steps To Reproduce**
Run `composer feature-tests`

**Expected behavior**
Should not fail.

**Environment:**
 - Travis CI / Circle

**Additional context**
Example job: https://travis-ci.org/k911/swoole-bundle/jobs/622487511?utm_medium=notification&utm_source=github_status

**Logs**

<de

[2020-01-29 21:15] Webonaute opened #119 "How can I hookup Kernel cache for http request?"
I am trying to make work our current project which using FosCacheBundle with swoole. Any hint of how I can hook it to the kernel?

[2020-01-29 21:44] Webonaute commented on #119
Hacking HttpKernelRequestHandler seem to do the trick.
[code]
Is there a better way to hook this without hacking lib? or is it possible to add support for this?

Thank.

[2020-01-30 09:06] k911 commented on #119
For know I believe you have to create your own class implementing request handler interface (probably copy) https://github.com/k911/swoole-bundle/blob/develop/src/Bridge/Symfony/HttpKernel/HttpKernelRequestHandler.php

then use symfony to wire it for dependency injection instead of default class

[code]

In the future (when I'll have some time to finish refactor) every part of this bundle will be

[2020-01-30 16:34] Webonaute commented on #119
Thank it worked.

[2020-01-30 16:34] #119 closed

[2020-01-30 16:42] Webonaute opened #120 "Slow response time"
**Describe the bug**
I have done some comparaison between running nginx + fpm vs swoole with FostHtppCacheBundle.
on locale with fpm, I have response time never go over 18ms to serve a simple cached json result which is stored in a file on the disk.

On the other hand. for the same call on swoole it take 28ms minimum up to 40ms.

So fpm seem lot twice faster.

Do you know any tweek I can do to imp

[2020-01-30 16:57] Webonaute opened #121 "How do we set Request::HEADER_X_FORWARDED_AWS_ELB in swoole.yaml"
how do I set Request::HEADER_X_FORWARDED_AWS_ELB in swoole.yaml to allow this trusted proxie header? I can't find it in documentation or swoole.yaml reference.

[2020-01-30 17:24] k911 commented on #121
You can try using:

[code]

If it does not work, you can take a look at
https://github.com/k911/swoole-bundle/blob/develop/src/Bridge/Symfony/HttpFoundation/TrustAllProxiesRequestHandler.php
and either send a Pull Request to add this feature or decorate RequestFactoryInterface via Symfony DI with your own implementation

[2020-01-30 17:32] k911 commented on #120
Could you please provide us more information, especially a swoole bundle configuration?

Also please try bellow configuration options:

[code]

with symfony production settings (APP_ENV=prod, APP_DEBUG=0)

[2020-01-30 18:01] k911 commented on #120
On my laptop:

[code]

Project: https://github.com/k911/swoole-bundle-symfony-demo/
Produces the following results:

[code]

Tool `wrk`:

[code]

Tool `siege`: (partial output)

[code]

Tool `hey`:

[code]

[2020-01-30 18:28] Webonaute commented on #120
hum using reactor config, FosHttpCache stoped working completely.

[2020-01-30 20:21] #93 closed

[2020-02-09 13:47] Webonaute commented on #120
we are still investigating on our side.

[2020-02-09 13:56] Webonaute opened #137 "Daemonize mode seem to crash with AWS codedeploy"
[code]

Here we have a log that the service `php ${INSTALL_DIR}/bin/console swoole:server:start` started correctly but than the applicationStart event never end and crash like the server is not fully detach from the session.

Here is the config file.
[code]

 Any idea could help me resolve this?

[2020-02-09 21:38] k911 commented on #137
Could you run in `settings.log_level: debug` and provide logs for from logs directory (both swoole log and symfony), and test whether the same behavior occurs when running only in `running_mode: process`. We may need to somehow close php output stream like done [here](https://github.com/k911/swoole-bundle/blob/develop/src/Bridge/Symfony/Bundle/Command/ServerStartCommand.php#L60)

[2020-02-10 14:53] Webonaute commented on #137
Debug is empty
[code]
And there is not symfony log created at this stage.

[2020-02-10 15:49] k911 commented on #137
Yeah, that's weird. Do this application locally behaves the same? Could you provide an example application repository with this bug + codedeploy configuration (e.g. in terrafrom)?

I think as a workaround you could configure this application as a `systemd` service with `bin/console swoole:server:run` command instead.

[2020-02-11 21:47] Webonaute commented on #137
it worked with systemd and swoole:server:run

[2020-02-11 21:47] #137 closed

[2020-02-11 21:48] Webonaute commented on #121
seem working with trust_all_proxies_handler: true thank.

[2020-02-11 21:48] #121 closed

[2020-02-11 22:37] Webonaute opened #138 "Caching GRPC response"
I am looking to hook up some some basic GRPC/protobuf caching mechanic.

Any idea/hint where I should start look into?

[2020-02-12 09:31] k911 commented on #138
I don't think there is anything out of the box for your problem, but I think you could develop your own solution with Swoole\Table (internally it uses shared memory). We could also create for example a PSR-6/16 compatible cache using it.

[2020-03-31 02:26] mab05k opened #174 "Array of Response Headers"
**Describe the bug**
Cannot return multiple response headers. For example, my Symfony response has the `Vary` header set with an array of items `['Content-Type', 'Authorization', 'Origin']`. The following code snippet from
https://github.com/k911/swoole-bundle/blob/develop/src/Bridge/Symfony/HttpFoundation/ResponseProcessor.php#L25-L27 will create a Swoole response with only one `Vary` header: `Va

[2020-04-01 19:41] #174 closed

[2020-04-03 14:02] Rastusik commented on #30
@zmitic hi, I think that your memory leak occurs because you have enabled doctrine logging/profiling in the Symfony DEV environment with APP_DEBUG=1 ... I had the same issue. Either disable logging/profiling, or create a resetter for the doctrine loggers. I have tested this bundle (well, actually my own fork of it) and it has no memory leaks, the only leaks were in my application code

[2020-04-03 14:15] Rastusik opened #185 "Replace entity manager handler with doctrine resettable em bundle"
**Is your feature request related to a problem? Please describe.**
The problem of the implemented entity manager handler is, that when an exception occurs in the entity manager, it gets closed and it won't be reset automatically.

**Describe the solution you'd like**
I've implemented a resettable entity manager handler in this bundle: https://github.com/pixelfederation/doctrine-resettable-em-bundl

[2020-04-03 14:35] k911 commented on #185
I don't think there is a need to port anything right now, because that would only complicate things. TBH, I'd like to get rid of current support for Doctrine Entity Manager too. I'm currently working on a more flexible configuration with the ability to dynamically attach handlers to different server events, so anyone could easily attach their own features by just implementing the interface.

Examp

[2020-04-03 14:42] Rastusik commented on #185
I think I didn't explain clearly what I meant. My point was to remove doctrine code from this bundle and create something like a bridge, or what you call a custom request handler to call the doctrine code from this bundle: https://github.com/pixelfederation/doctrine-resettable-em-bundle . I think it is quite similar to your suggestion and maybe we should work out the details. Or do you see a bigge

[2020-04-03 14:46] k911 commented on #185
Yeah, I can agree to that, apart from removing things. I'd like to keep backward compatibility for some time, then deprecate and eventually remove it. Because it won't block us to introduce a new feature.

[2020-04-03 14:49] Rastusik commented on #185
Ok, the removal can be postponed, no problem. So are you ok with me making a pull request for the mentioned integration? If yes, should I work with  the `feat/dynamic-listeners` branch then?

[2020-04-03 16:33] k911 commented on #185
Nope, as usual you should work with `develop`.

[2020-04-09 12:44] judgedim opened #187 "HMR and server reload don't work"
**Describe the bug**
The symfony project itself works fine and as expected. But the HRM doesn't work. I have to stop and start the swoole-server every time I change a file. Did I something wrong? The InotifyHRM class is loaded and initialized.

For my opinion problem here
https://github.com/k911/swoole-bundle/blob/develop/src/Server/Runtime/HMR/InotifyHMR.php#L78
because almost all files included

[2020-05-03 00:13] jefersonkaefer opened #210 "Custom handlers"
Hello,

**Very nice package.**

Is possible rewrite the handlers to my customs handlers?
I need add somethings to request and response, but I don't know how.
Thanks!

[2020-05-03 11:31] hktr92 opened #211 "Swoole 4.5 support?"
Initially I wanted to report that swoole-bundle couldn't install due to "missing ext-swoole". but I have it installed it correctly.

when getting ready to submit the issue, I saw in the preview that this bundle expected swoole ~4.4.7 and I have swoole 4.5.0 (installed via pecl).

[2020-05-03 12:04] #211 closed

[2020-05-03 12:09] k911 commented on #210
Hello @jefersonkaefer when using this package as a Symfony Bundle you can use Symfony's DI Container to override services (look: https://github.com/k911/swoole-bundle/blob/develop/src/Bridge/Symfony/Bundle/Resources/config/services.yaml, here: https://github.com/k911/swoole-bundle/blob/develop/src/Bridge/Symfony/Bundle/DependencyInjection/SwooleExtension.php)

You can also use `bin/console debug:c

[2020-05-03 12:12] #138 closed

[2020-05-03 12:12] #120 closed

[2020-05-03 12:14] #30 closed

[2020-05-24 19:24] #210 closed

[2020-05-29 14:20] Rastusik opened #227 "Fallback to Symfony error handler on error or exception"
**Is your feature request related to a problem? Please describe.**
Current ProductionExceptionHandler is too simple. It would be better if the bundle exception handler would be able to work with Symfony exception/error handler to display messages in Symfony style.

**Describe the solution you'd like**
I would like to modify the ProductionExceptionHandler to use the Symfony error/exception handlers

[2020-05-29 20:57] k911 commented on #227
Like outlined in issues connected to this pull request, default production error handler has been explicitly added in PR https://github.com/k911/swoole-bundle/pull/79 due to the bug, when not catching errors would result in timeout. IMO error handling should not be part of this bundle, or at least it should be optional, as it is currently. So the only option that seems reasonable is to create a ne

[2020-05-29 21:14] #185 closed

[2020-06-03 14:15] Rastusik opened #238 "AdvancedStaticFileServer should fallback to mime type text/plain on when serving unknown file extension"
**Is your feature request related to a problem? Please describe.**
Current behaviour with AdvancedStaticFileServer doesn't serve requested static file when the requested file has an extension unknown to the AdvancedStaticFileServer, but proxies the request to the symfony kernel.

**Describe the solution you'd like**
I suggest to treat file extensions unknown to the AdvancedStaticFileServer configu

[2020-06-03 16:15] k911 commented on #238
Definitely I would love that.

Maybe `application/octet-stream` as AWS does?

[2020-06-04 09:10] Rastusik commented on #238
ok, no problem

[2020-06-05 15:45] Rastusik opened #241 "Profiler toolbar doesn't collect logs"
**Describe the bug**
Symfony profiler (debug toolbar) doesn't collect logs with symfony-swoole

**Steps To Reproduce**
Enable the profiler toolbar and try to log something during a profiled request. When going to the request profile from the toolbar, the Logs menu item doesn't contain any data.

**Expected behavior**
There should be data in the logs menu item.

[2020-06-05 15:57] k911 commented on #241
Can you explain further why do you think it is a `swoole-bundle` bug?

Also, please try using 1 worker or enabling session storage, my guess is that it relies on that. If not please provide at least some logs and a minimal reproducible example.

[2020-06-05 16:00] Rastusik commented on #241
It is a Symfony bug, I already have a fix for this, I'm just playing with it a little more. This bug doesn't have anything to do with session storage.

[2020-06-05 16:01] Rastusik commented on #241
[code]

[2020-06-07 14:04] Rastusik opened #243 "Errors when setting worker_count and reactor+count through ENV"
**Describe the bug**
Symfony app fails to start with settings such as this:
[code]

with this error: `The value 0 is too small for path "swoole.http_server.settings.worker_count". Should be greater than or equal to 1`

**Steps To Reproduce**
already mentioned

**Expected behavior**
Symfony app starts normally

The fix is to change the corresponding nodes in Configuration class from integerNode to

[2020-06-10 08:23] ad3n opened #245 "[ASK] Is possible to support PHP 7.2.X"
Is this bundle possible to support PHP 7.2? Or you use specific feature in PHP 7.3?

[2020-06-10 11:00] k911 commented on #245
I'd like to drop soon support to PHP 7.3 as well. You can use `<0.5.0` version with PHP 7.2, if I remember correctly.

[2020-06-10 11:00] #245 closed

[2020-06-12 15:22] #238 closed

[2020-06-13 14:12] #227 closed

[2020-06-13 14:26] k911 opened #247 "Introduce rectorphp / rector in CI Pipeline"
**Is your feature request related to a problem? Please describe.**
Introduce `rectorphp/rector` in CI Pipeline to handle coding standards

**Describe the solution you'd like**
Step in CI pipeline (CircleCI/CodeClimate), handled for example like `run-static-analysis` (phpstan)

**Describe alternatives you've considered**
I thought that PHP-CS-Fixer would handle that, but unfortunately, it can't for

[2020-06-15 07:11] galliroberto opened #250 "hot reload not work"
**Describe the bug**

i have installed inotify and enabled it in symfony, but when i change php file, the change is not reflected.
[code]

**Environment (please complete the following information):**
 - OS: macOs
 - PHP Version: 7.4.2
 - Swoole Version: latest
 - Symfony Version: 5
 - Running in docker: Yes

**Additional context**
I have set AUTORELOAD_ANY_FILES=1 in docker-compose
[code]

[2020-06-15 09:25] k911 commented on #250
This feature is not supported by docker directly (propagating host filesystem events to container). Please see https://github.com/moby/moby/issues/18246 and https://github.com/sillypog/inotify-proxy it may help you.

[2020-06-15 09:25] #250 closed

[2020-06-15 13:39] #241 closed

[2020-06-24 10:27] k911 opened #264 "docs: Update README.md"
TODO:

- [x] release 0.8.x
- [x] change composer dev line to 0.8.x
- [x] mention about AdvancedStaticFilesServer which is now configurable
- [x] CONTRIBUTING docs update - php 7.3 and up,
- [x] mention about soon switching fully to php 7.4
- [x] update swoole to 4.5.x line
- [x] clarify that HMR currently works only on bare linux (without docker), and possibly only in process mode (see #187 )
- [x

[2020-07-07 16:47] Rastusik opened #268 "Symfony (http foundation) request->getRequestUri() doesn't contain query string"
**Describe the bug**
The creation of Http Request in the `RequestFactory` doesn't set the `$_SERVER[REQUEST_URI]` parameter to the `$server` variable, which results in wrong value returned by calling `$request->getRequestUri()`.

**Steps To Reproduce**
When a Symfony app with swoole bundle with gets requested with an url like this: `http://localhost:9501/twig?test=abc&wtf=123`, calling `$request->

[2020-07-07 17:04] k911 commented on #268
Yeah, definitely we should use a proper factory method to create a request object when they're available.

[2020-07-07 17:08] Rastusik commented on #268
I looked into it, and I think the first solution is sufficient because there would need to be very similar two lines of code even with the proper factory method usage because the proper factory method needs the manually concatenated path anyway and  it also needs a http method as a string parameter which I don't know how to obtain from swoole request ... Do you think this is worth investigating?

[2020-07-07 19:05] k911 commented on #268
Yeah, I think it's worth investigating and probably we should also write a test that proves correct behavior.

[2020-07-07 19:27] Rastusik commented on #268
Well, I did the investigation and the second solution would be to use this method: `Request::create(string $uri, string $method = 'GET', array $parameters = [], array $cookies = [], array $files = [], array $server = [], $content = null)`, but the `uri` parameter would need to be created in the request factory the same way as the simpler solution.

[2020-07-08 21:41] pierrerolland opened #270 "The bundle seems (too) dependent to Doctrine ORM"
Hello!

**Describe the bug**
I received this error on my project, which only had a `dbal` entry in `doctrine.yaml` (no `orm`):
[code]
After having added `orm: ~`, the error was gone.

**Steps To Reproduce**
Start a new project with only DBAL configuration, and no ORM one, then run `bin/console`

**Expected behavior**
No error

**Environment (please complete the following information):**
 - OS: Lin

[2020-07-14 12:42] #268 closed

[2020-07-14 21:08] #270 closed

[2020-07-14 21:17] k911 commented on #187
Unfortunately, I have to mark it as wontfix for now, because HMR will probably need some different approach (not only inotify but also fsevents), and probably it would be required to somehow rebuild Symfony DI container to make it work better. I've added this to the docs that HMR probably does not work with `running_mode: reactor`, I've tested it on Linux and it is working on Alpha feature basis (

[2020-07-14 21:17] #187 closed

[2020-07-15 21:20] k911 opened #276 "Fix CI: release-version script"
**Describe the bug**
No generated changelog / release notes

It is probably caused by this error in CI output:
`xargs: unmatched single quote`

**Steps To Reproduce**
https://app.circleci.com/pipelines/github/k911/swoole-bundle/851/workflows/6df8cb27-760d-49fc-81f8-123652542f9f/jobs/7607

**Expected behavior**
Proper changelog output

[2020-07-15 22:03] #276 closed

[2020-07-16 20:14] #264 closed

[2020-07-16 21:24] k911 opened #279 "Introduce Infection in CI Pipeline"
**Is your feature request related to a problem? Please describe.**
Use `infection` to run the mutation testing suite

**Describe the solution you'd like**
Install and configure `infection/infection`

[2020-07-17 07:16] CoderChang65535 opened #280 "Your work is a millennium job LOL"
@k911

So excited to hear that this project is selected by Github Archive Program.

[2020-07-17 07:43] k911 commented on #280
Thanks @CoderChang65535

Anyway: https://archiveprogram.github.com/faq/

[2020-07-17 07:43] #280 closed

[2020-07-17 11:44] CoderChang65535 commented on #280
@k911 In fact I also get the ```Arctic Code Vault Contributor``` badge from your project since I only change a little lines.....

[2021-01-17 18:49] spyridonas opened #441 "Unable to upgrade to v0.8.3 on PHP 8.0 due to assertion BC break"
**Is your feature request related to a problem? Please describe.**
Installation of this package does not work with php 8
(beberlei/assert[v3.0.0, ..., v3.2.7] require php ^7 -> your php version (8.0.1) does not satisfy that requirement.)

**Describe the solution you'd like**
Merge https://github.com/k911/swoole-bundle/pull/417

[2021-01-17 20:15] k911 commented on #441
For now you can use workaround:

[code]

[2021-01-17 20:25] spyridonas commented on #441
Thanks for the reply, i will try using your suggestion.
After reading the beberlei/assert issue and searching around, there's a suggestion to use https://github.com/webmozart/assert instead.
Maybe that's the solution ? I don't know if you've consider/tested if before.

[2021-01-17 20:33] k911 commented on #441
@spyridonas I'm satisfied with how the current assertion library works. It may be wise to actually remove this dependency completely and use exceptions and checks crafted directly for this bundle. However, it would take a significant amount of time to rewrite and properly test it, so I think it is probably easier to fix the assertion library instead, as PR https://github.com/beberlei/assert/pull/3

[2021-01-27 16:50] svatok13 opened #452 "http response is unavailable"
First of all, thank`s for your work.

I have some app, which is only getting some data from database(MySQL) and returning json response. Also I am using redis caching. I am testing my app performance by bombardier. And under pressure my app started to return 500, and log some warnings, like

./bombardier-linux-amd64 -c 10 -d 25s --fasthttp http://localhost:1013/news
Bombarding http://localhost:101

[2021-01-28 19:49] k911 commented on #452
Hi, @svatok13 unfortunately I don't have a clue what's going on. It would be the best to provide source code (preferably github repository) with project that is able to reproduce that error.

[2021-04-01 08:50] surya4crowde opened #489 "Different Voter Result"
**Describe the bug**
Different Voter Result Between Conventional, Road Runner and Swoole Bundle

**Steps To Reproduce**
I use this repo https://github.com/KejawenLab/SemartApiSkeleton (using docker) and add swoole bundle, and i dont add any configuration, just default and then run the aplication using swoole server

**Expected behavior**
The Voter return GRANTED

Result in Nginx and Roud Runner Bu

[2021-04-03 10:57] k911 commented on #489
My guess it's due to session usage, and if that's true it makes it not bug.

Try enabling session and then check whether it's working: https://github.com/k911/swoole-bundle/blob/develop/tests/Fixtures/Symfony/app/config/session/swoole.yaml

if it's still not working we'll need more details to debug issue, preferably logs, small repository with reproduction of this bug, hints where do you think the

[2021-04-03 10:59] #452 closed

[2021-04-03 13:26] surya4crowde commented on #489
Hi @k911 thank you for your reply, basically i use redis storage for session (snc redis bundle) for session and enable by default

`swoole:
    http_server:
        services:
            session_cookie_event_listener: true`

I just add that lines and working perfectly, thank you very much

May you need to add this config in documentation or provide symfony recipes to handle it.... Thank you so muc

[2021-04-03 13:26] #489 closed

[2021-04-21 10:28] fd6130 opened #499 "Lots of timeout when fetching items from database using doctrine"
**Describe the bug**

I got an api which use doctrine to query the database and return json response. I tested it using `wrk` and the result is not that good due to lots of timeout.

[code]

**Steps To Reproduce**
I'm using default `swoole.yaml` config, `APP_ENV=prod` and also got `pixelfederation/doctrine-resettable-em-bundle` installed.

[code]

**Expected behavior**
I think it suppose to be low

[2021-04-21 12:15] fd6130 commented on #499
I think mostly is because of the database is blocking queries.. so got no benefit from using swoole if the database is blocking queries?

[2021-04-24 07:03] k911 commented on #499
Hi, TBH I don't know how we could solve issue. Personally, I've not used doctrine resettable bundle so I cannot help you. I've only used this https://github.com/k911/swoole-bundle/blob/develop/src/Bridge/Doctrine/ORM/EntityManagerHandler.php and it was enough for my purposes. Currently, I'm not using any of this so either you can contact pixelfederation or use some other approach like this: https:

[2021-04-24 07:31] fd6130 commented on #499
How can i use the EntityManagerHandler? Just inject `EntityManagerInterface` instead? But i believe it will just same as timeout when `WRK` test fetching a collection of data.

[2021-04-24 07:34] k911 commented on #499
[code]

 I believe because you already have it configured you either need to uninstall other bundle. I think also you shouldn't use both at the same time.

[2021-04-24 08:22] fd6130 commented on #499
I uninstalled the other bundle but unfortunately the test result still the same. It got no timeout when i fetch single data from database but timeout when fetching all data from database in `wrk` test.

[2021-05-05 10:02] k911 commented on #441
I'm closing this one as fix in dependency has been released

[2021-05-05 10:02] #441 closed

[2021-05-08 18:52] domgraziano opened #514 "Bundles seems to skip firewalls"
**Describe the bug**
The bundle seems to "skip"the user authentication process in symfony.
In my security.yaml I have
[code]
so when I send a request like this  where xxx.xxx.xxx is a valid jwt token, I successfully get a response
`curl --location --request GET 'http://localhost/someresource/031abb40-a76c-11eb-aacc-0242ac120003' \
--header 'Authorization: Bearer xxx.xxx.xxx' `

but when I send ano

[2021-05-08 19:42] k911 commented on #514
Hi, unfortunately I don't know what could be the cause, if you can please provide simple repository so I can reproduce bug locally. Then I'll try to debug and see what can be done here. Maybe session support needs some adjustments. Also, this bundle does not support php 7.3 anymore.

[2021-05-08 20:03] domgraziano commented on #514
Thank you, sure I'll try my best to find the time to put together an example repo.
I am using version 0.8.3 to work with php 7.3.

Meanwhile l am still trying to debug and it seems that is like the authorization headers are "cached" between different requests.

The way I am grabbing header information in my custom user provider is via a class like this:
[code]
Debugging this it seems that `$this->

[2021-05-09 17:57] domgraziano commented on #514
Still haven't got the time to create a sample repo for you, but I did some more digging today: it seems to me that working with a class like the one I showed above produces always the same result! So `$this->request->headers->get('Authorization')` gives me always the same value, the one I sent in the first request after I started the server (as if the content of the headers are saved in memory aft

[2021-05-09 18:43] domgraziano commented on #514
I did found the issue ... it turned out that when using swoole this stuff
[code]
should be avoided at all cost. This object is saved in memory along with the first request!

instead doing this
[code]
is safe! And everything works as expected.

Nothing to do with the bundle I guess, but to the very nature of how swoole works. Retrieving the request in an object constructor is an unsafe operation he

[2021-05-10 18:39] #514 closed, assigned to k911

[2021-05-10 18:44] k911 commented on #514
Thanks man for the update, sorry for not being able to debug it myself but (as usual) did not have time to do it :/
Happy that you've managed to resolve it by yourself, good job man!

Edit: And yes, with swoole on each request memory isn't flushed (and symfony container isn't reconstructed) so we need to keep track of global state and take care memory-related issues, that's why it's so fast.

[2021-05-10 18:45] domgraziano commented on #514
no prob! thank you for the good work on the bundle :)

[2021-07-01 05:26] sunchuo opened #546 "when require ODM"
Cannot autowire service "K911\Swoole\Bridge\Doctrine\ORM\EntityManagerHandl
!!    er": argument "$entityManager" of method "__construct()" has type "Doctrine
!!    \ORM\EntityManagerInterface" but this class was not found.

require Doctrine ODM without ORM.

[2021-07-27 09:12] #546 closed, assigned to k911

[2021-07-31 21:21] Rastusik opened #561 "Use cooperative scheduling in request handling by enabling swoole coroutine hooks for IO functions"
**Is your feature request related to a problem? Please describe.**
Current architecture of the swoole bundle expects the swoole http server process to handle exactly one request at once. I would like to enable cooperative scheduling by enabling the swoole IO functions coroutine hooks to be able to handle multiple requests concurrently, as the usage if Swoole was intended by design.

**Describe the

[2021-07-31 21:23] Rastusik commented on #561
@k911 is there anything special you've done to disable the default coroutine context in the swoole request handler?
[code]

[2021-10-28 15:52] deluxetom opened #564 "Add setting for task_enable_coroutine"
I'm using the swoole transport with messenger and getting errors when it tries to use coroutines inside a task.

I would love a new setting in the bundle configuration for this to be enabled for the messenger transport
https://www.swoole.co.uk/docs/modules/swoole-server/configuration#task_enable_coroutine

Thanks!

[2021-12-12 19:08] Rastusik commented on #561
@k911 I was finally able to get some time to create a working POC, what do you think about it?
Btw. is this project still maintained?

[2021-12-12 19:24] k911 commented on #561
@Rastusik looks good for me. Currently, I don't develop anything so we might say it's not maintained properly.

[2021-12-29 17:09] maxkain opened #567 "pid_file config does not work"
Pid file always is created at the **var/swoole.pid** path.
If using command option **--pid-file=var/some_path/swoole.pid**, server starts, file is created there, but it is empty and server stops only by **kill** command.

[2021-12-29 17:29] maxkain opened #568 "Some error's do not log."
Maybe it is Symfony issue, but it works fine with php-fpm or APP_DEV for unknown reasons.

Some errors are not hanled, messages disappear, for example php type error of function argument or using null as object.
I fixed it by decorating Symfony HttpKernel, it catches only \Exception, but not \Throwable:

_services.yaml_
[code]

_App\Service\HttpKernel\HttpKernel_
[code]

[2022-01-11 13:44] maxkain opened #569 "Reload does not work with opcache_enabled_cli"
**swoole:server:reload** command does not work with **opcache_enabled_cli**. Tried **opcache_reset()**, no result.